/* color code for theme starts ----------------- 
#FF313C  dark
#2e65a7  medium
#FF8245  light
------------------ color code for theme ends */
/*a{color: #2e65a7;}
.btn-custom{
	background-color: #2e65a7;
    color: #fff;
}
.btn:focus {
    box-shadow: none;
}
.btn-custom:hover{
    background-color: #2e65a7;
	color: #fff;
}
.form-check-input:checked {
    background-color: #2e65a7;
    border-color: #2e65a7;
}
.card {
    box-shadow: 0 2px 9px 0 rgb(0 0 0 / 20%);
    border-radius: 12px;
}
.card-header:first-child {
    border-radius: calc(12px - 1px) calc(12px - 1px) 0 0;
}
.btn0{
	padding: 5px 25px;
    margin-top: 10px;
    margin-bottom: -20px;
}
.logout-checkmark {
    width: 120px;
    margin: 0 auto;
    padding: 20px 0;
}
.text-theme{color: #2e65a7;}
.login-head{
    color: #2e65a7;
    font-size: 30px;
    font-weight: 500;
    margin-top: -10px;
    margin-bottom: 15px;
}
.lc0{
    letter-spacing: 0.5px;
    color: #80898e;
    margin-top: 15px;
    margin-bottom: 11px;
}
.text-muted {
    color: #80898e !important;
    letter-spacing: 0.5px;
}
.fback{
    color: #2e65a7;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.alert-danger {
    background-color: #ee6e73 !important;
    border-color: #ee6e73 !important;
    color: #ffffff !important;
    letter-spacing: 0.5px;
    font-family: system-ui;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: -17px;
}
.cw0{
    color: var(--ct-page-title-color);
}
.m0{
    margin: 0 !important;
    letter-spacing: 0.5px;
}
.nav-tabs.nav-bordered li a.active {
    border-bottom: 2px solid #2e65a7;
}
.nav-tabs.nav-bordered li a {
    border: 0;
    padding: 0.625rem 0.6rem;
    letter-spacing: 0.5px;
}
.breadcrumb-item{
    letter-spacing: 0.5px;
}
.clearbtn {
    margin-top: 30px;
    border-radius: 5px !important;
    letter-spacing: 0.5px;
    font-size: 13.5px;
    padding: 8px 11px;
}
.mbrow{
    margin-bottom: 27px;
}
div.dataTables_wrapper div.dataTables_length label {
    margin-bottom: 15px;
}
.dataTables_info {
    font-weight: 500;
    letter-spacing: 0.5px;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    letter-spacing: 0.5px;
}
.btn-color {
    color: #fff !important;
    background-color: #2e65a7;
    border-color: #2e65a7;
}
.logo-lg img{width: 90%;margin-top: -4px;}
.logo-sm img{width: 80%;border-radius: 100%;}

.bg-icon {
    height: 80px;
    width: 80px;
    text-align: center;
    border-radius: 50%;
    float: left;
}
.bg-icon-success {
    background-color: #00b19d;
    border: 6px solid #00b19d;
}
.bg-icon-ironstone {
    background-color: #795548;
    border: 6px solid #795548;
}
.bg-icon-warning {
    background-color: #ffc107;
    border: 6px solid #ffc107;
}
.bg-icon-pink {
    background-color: #ec407a;
    border: 6px solid #ec407a;
}
.bg-icon-info {
    background-color: #00BCD4;
    border: 6px solid #00BCD4;
}
.bg-icon-primary {
    background-color: #2e65a7;
    border: 6px solid #2e65a7;
}
.bg-icon-danger {
    background-color: #dc3545;
    border: 6px solid #dc3545;
}
.bg-icon-dark-blue {
    background-color: #607d8b;
    border: 6px solid #607d8b;
}
.text-dark-blue {
    --ct-text-opacity: 1;
    color: #607d8b;
}
.text-info{
    --ct-text-opacity: 1;
    color: #00BCD4;
}
.tilebox-one i {
    position: absolute;
    top: 2.6rem;
    font-size: 2rem;
    opacity: 1;
    left: 2.9rem;
    color: #fff;
}
.colmb{
    margin-bottom: 15px;
}
.slideshow {
    list-style-type: none;
}
.slideshow,
.slideshow:after { 
    top: -16px; 
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    z-index: 0; 
}
.slideshow li span { 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 30s linear infinite 0s; 
}
.slideshow li:nth-child(1) span { 
    background-image: url("../images/login/crm1.avif"); 
}
.slideshow li:nth-child(2) span { 
    background-image: url("../images/login/crm2.avif");
    animation-delay: 6s; 
}
.slideshow li:nth-child(3) span { 
    background-image: url("../images/login/crm3.avif");
    animation-delay: 12s; 
}
.slideshow li:nth-child(4) span { 
    background-image: url("../images/login/crm4.avif");   
    animation-delay: 18s; 
}
.slideshow li:nth-child(5) span { 
    background-image: url("../images/login/crm5.avif");
    animation-delay: 24s; 
}
@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 0.7; animation-timing-function: ease-out; }
    17% { opacity: 0.7 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 0.7 }
    17% { opacity: 0.7 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
.no-cssanimations .cb-slideshow li span {
    opacity: 0.7;
}
.me-17{
    font-size: 16px;
    color: #2e65a7;
    margin-right: 0.375rem !important;
}
.form-group{
    margin-bottom: 18px;
}
.mtm10{
    margin-top: -10px;
}
.eh350{
    height: 350px !important;
}
.modal-title{
    color: #2e65a7;
    letter-spacing: 0.5px;
    font-weight: 500;
}
.label_text {
    letter-spacing: 0.5px;
    font-size: 14.3px;
}
.mt18{
    margin-top: 18px;
}
.addbtn{
    margin-top: -77px;
    float: right;
}
.submitbtn{
    text-align: right;
    margin-top: 30px;
    margin-bottom: -20px;
}
.ml7{
    margin-left: 7px;
}
.rcolor{
    border: 1px solid #2e65a7ad;
    border-radius: 6px;
    margin-top: 8px;
    height: 250px;
    overflow: auto;
    padding: 12px;
    letter-spacing: 0.5px;
}
.fpwd{
    float: right;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}
.alink{
    color: #6c757d;
}
.rpwd{
    color: #2e65a7;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    float: right;
}
.imga0 {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 3%;
    height: 115px;
    width: 160px;
}
.imga1 {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 3%;
    height: 200px;
    width: 300px;
}
.mtb20{
    margin: 20px 0;
}
.headers-line {
    margin-top: 12px;
    margin-bottom: 15px;
    line-height: 27px;
    padding: 0;
    color: #2e65a7;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    text-align: left;
    letter-spacing: 0.5px;
}
.headers-line:before, .headers-line:after {
    content: " ";
    position: absolute;
    top: 50%;
    height: 2px;
    border-top: 2px solid #eee;
}
.headers-line:after {
    left: auto;
    width: 999em;
    margin: 0 0 0 12px;
}
.thumsimg {
    height: 115px;
    width: 160px;
    border-radius: 3%;
}
.chkbox{
    font-size: 15px;
    margin-bottom: 20px;
}
.smodel{
    line-height: 27px;
    padding: 0;
    color: #2e65a7;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    text-align: left;
    letter-spacing: 0.5px;
}
.frmb0{
    float: right;
    margin-bottom: 0px !important;
    margin-top: -35px;
}
.mbm20{
    margin-top: -20px;
    margin-bottom: 12px;
    color: #2e65a7;
}
.rsnd{
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: center;
    display: block;
    margin-bottom: -10px;
}
.spinnerotp {
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: -0.125em;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: 0.75s linear infinite spinner-border;
    animation: 0.75s linear infinite spinner-border;
}
.comment-set{max-height: 395px;overflow-y: scroll;}
.thumb-media{
    border: 1px solid #dee2e6;
    border-radius: 10px;
    height: 100px;
    width: 150px;
    margin-top: -5px;
    margin-bottom: 30px;
}
.del-pdf{  
    position: relative;
}
.iconremove{
    position: absolute;
    top: -9px;
    right: -62px;
    border: 1px solid #fff;
    background: #2e65a7;
    color: #fff;
    border-radius: 7px;
}
.mt10{
    margin-top: 10px;
}
.thumb-media-detail{
    border: 1px solid #dee2e6;
    border-radius: 10px;
    height: 100px;
    width: 150px;
    margin-right: 5px;
    margin-bottom: 12px;
}
.vpopup {
    width: auto;
    display: inline-block;
    position: relative;
}
.icon-set {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    width: auto;
    display: block;
    text-align: center;
    vertical-align: middle;
}
.icon-set i {
    position: relative;
    top: 0;
    left: 0;
    font-size: 34px;
    vertical-align: middle;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    line-height: 34px;
}
.icon-set i::before {
    font-size: 23px !important;
    line-height: 23px !important;
}
.icon-set i:hover {
    opacity: 1;
}
.icon-imgset {
    position: absolute;
    bottom: 58px;
    left: 0;
    right: 0;
    width: auto;
    display: block;
    text-align: center;
    vertical-align: middle;
}
.icon-imgset i {
    position: relative;
    top: 0;
    left: 0;
    font-size: 34px;
    vertical-align: middle;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    line-height: 34px;
}
.icon-imgset i::before {
    font-size: 23px !important;
    line-height: 23px !important;
}
.icon-imgset i:hover {
    opacity: 1;
}
.tname{
    margin-bottom: 0.375rem !important;
    letter-spacing: 0.8px;
    font-size: 14px;
}
.font14 {
    font-size: 13.5px !important;
    letter-spacing: 0.8px;
    color: #2e65a7;
}
.tl0{
    color: #80898e !important;
    letter-spacing: 0.5px;
    font-size: 14px;
    margin-bottom: 0 !important;
    margin-top: 0.75rem !important;
    padding-bottom: 1.5rem !important;
}
.mb10{
    margin-bottom: -10px;
}
.nrf0{
    text-align: center;
    letter-spacing: 1px;
    color: red;
    display: block;
}
.ql-hidden{
    display: none;
}
.conversation-list .chat-avatar img {
    width: 40px !important;
    height: 40px !important;
}
.conversation-list .ctext-wrap {
    letter-spacing: 0.5px;
    font-size: 13px;
}
.ptext{
    font-size: 12px;
    letter-spacing: 0.5px;
}
.attmr{
    margin-right: 5px;
}
.mt20{
    margin-top: 20px;
}
.mh550{
    max-height: 550px
}
.avatar-csm {
    height: 4rem;
    width: 4rem;
}
.upname{
    letter-spacing: 0.7px;
    font-size: 13px;
}
.page-title-box .page-title {
    font-size: 16.7px;
}
body[data-leftbar-theme="dark"][data-leftbar-compact-mode="condensed"] .side-nav .side-nav-item:hover .side-nav-link {
    background: #2e65a7;
}
.nav-user .account-user-name {
    margin-top: 9px;
}
a:hover {
    color: #2e65a7;
}
.note-editor p{
    letter-spacing: 0.7px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.mb25{
    margin-bottom: 25px;
}
.bwarning {
    color: #FF9800;
    border: 1px solid #FF9800;
    border-radius: 5px;
}
.bbrown {
    color: #795548;
    border: 1px solid #795548;
    border-radius: 5px;
}
.bsuccess {
    color: #009688;
    border: 1px solid #009688;
    border-radius: 5px;
}
.bdanger {
    color: #dc3545;
    border: 1px solid #dc3545;
    border-radius: 5px;
}
.photo {
    height: 100px;
    width: 150px;
    border-radius: 10px;
    border-radius: 50% 
}
.viframe{
    border-radius: 10px;
    height: 190px;
    width: 300px;
    display: block;
    margin: auto;
}
.dt0{
    margin-bottom: 15px;
    line-height: 27px;
    color: #FF9800;
    font-size: 22px;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-family: math;
}
.nnote{
    color: red;
    letter-spacing: 0.8px;
    font-weight: 500;
}
.lngtext{
    margin-left: 10px;
    color: #FF5722;
    font-family: system-ui;
    letter-spacing: 0.8px;
    cursor: pointer;
}
.texthide{
    display: none;
}
.lngdesc{
    margin-left: 10px;
    color: #FF5722;
    font-family: system-ui;
    letter-spacing: 0.8px;
    cursor: pointer;
}
.deschide{
    display: none;
}
.datepicker {
    z-index: 9999 !important;
}
.bootstrap-timepicker-widget.dropdown-menu.timepicker-orient-left.timepicker-orient-top.open {
    position: absolute;
    top: 45px !important;
    z-index: 99999 !important;
}
#timepicker-input-group2{
    z-index: 99999;
}
.smimg {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 6%;
    height: 150px;
    width: 200px;
    margin: 10px;
}
.item {
    position: relative;
    display: inline;
}
.item:hover .overlay {
    opacity: 3;
}
.overlay {
    position: absolute;
    top: -50%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    text-align: center;
}
.fa-3x {
    color: #2e65a7;
    font-size: 30px;
}
.tmimg{
    margin-right: 15px;
    margin-bottom: 15px;
}
.del-img {
    position: relative;
}
.mr50{
   margin-right: 50px;
   margin-bottom: 25px;
}
.ltext {
    letter-spacing: 0.5px;
    font-size: 14.3px;
    margin-bottom: 10px;
}
.ltext span{
    color: #2e65a7;
}
.upname{
    letter-spacing: 0.7px;
    font-size: 13px;
}
.tabox{
    border-radius: 1rem !important;
    padding: 1rem !important;
    margin-top: 1rem !important;
}
.error-msg-hide {
    display: none !important;
}
.error-msg-show {
    line-height: 30px;
    letter-spacing: 0.5px;
    font-size: 14px;
    color: red;
    font-weight: 500;
}
.messagewindow{
    height: 500px;
    overflow: auto;
}
.ncmsg{
    color: red;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
}
.avatar .avatar-initial {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #2e65a7;
  font-weight: 600;
}
.bg-label-primary {
  background-color: #b7d2f1 !important;
  color: #2e65a7 !important;
}
.rounded-circle-img {
  border-radius: 50% !important;
  width: 32px;
  height: 32px;
}*/
.form-error{
    line-height: 30px;
    letter-spacing: 0.5px;
    font-size: 14px;
    color: red;
    font-weight: 500;
}
.form-errors{
    line-height: 30px;
    letter-spacing: 0.5px;
    font-size: 14px;
    color: red;
    font-weight: 500;
}
.text-right{
    text-align: right;
    margin-top: 15px;
}
.page-title-box .page-title-right-button {
    float: right;
    margin-top: 20px;
}
.badge {
    letter-spacing : 0 !important;
    font-weight : 700 !important;
    font-size: 0.81rem !important;
    padding: 8px 10px 6px 10px !important;
}
.text-purpel {
    color: #850087 !important;
}
.smimg {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 6%;
    height: 150px;
    width: 200px;
    margin: 10px;
}